@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Test</h1>
    <p>
        Developer: Lakmal Silva
        <br />
        Date: 2018-12-17
    </p>
</div>

<div class="row">
    
</div>